/* IE7.css*/
/* IE doesn't know RGBA */
tr:nth-child(odd) {
background: transparent;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);   /* IE6 & 7 */
zoom: 1;
}
/* IE7 doesn't understand display:inline-block */      
#footer li {
display: block;
float: left;
}
#footer {
font-size: .8em;
}
/*adding a top border to menu li's seems to force IE7 into the box model */
.menu li {
border-top: 1px solid #cbe9ff;
}
.coldot5 a, .col1 a, .col1dot5 a, .col2 a, .col3 a, .col4 a, .col4dot5 a, .col5 a, .col6 a {
background-image: none !important;
background-repeat: no-repeat;
background-position: 0 0;
margin: 0 !important;
padding: 0 !important;
}
a.button {
display: block !important;
padding-top: .5em !important;
padding-bottom: .5em !important;
margin-bottom: .25em !important;
margin-top: .25em !important;
}
.ad.img span {
display: block;
padding: 0 10px 10px 10px;
}
