/*PRINT.CSS*/ 
@media screen {
  .forprint {
display: none !important;
}
/* USE THIS CLASS FOR ANYTHING YOU ONLY WANT TO APPEAR ON PRINTED DOCUMENTS, IT WILL BE HIDDEN FOR media="screen" */
}
@media print {
  /* HIDE STUFF */
  #logo,#globalnav,#siteheader,#emergency,#announcement,#banner_spacer,.menu,.footer,#footer.container,.anchor,a[href^="#"],.ad,.quote,.quote img,#footer br,.EktronAjaxLoading {
display: none !important;
}
  /* GLOBAL RESET */
  * {
background: none !important;
}
  body {
line-height: 1.5;
background: none !important;
color: #000 !important;
font-size: 115%;
margin: 0;
padding: 0;
}
  /* PAGE LAYOUT */
  #section {
width: 100%;
margin: 0;
padding: 0;
float: none !important;
background: none !important;
clear: both;
}
  #section.hasmenu {
float: none !important;
width: 100%;
background: none !important;
}
  #footer {
border-top: 1px solid #ccc !important;
padding-top: 1em !important;
}
  #aside {
width: 100% !important;
}
  #aside>* {
max-width: 100% !important;
}
  #footer {
clear: both;
display: block;
width: 100%;
border-top: 1px solid #000 !important;
padding-top: .5em;
}
  #footer .col3 {
width: 100% !important;
}
  #footer br.forprint {
display: block !important;
}
  #printheader {
display: block;
width: 100%;
}
  #printheader img {
float: left;
display: block;
margin-right: 2em;
}
  #printheader p {
float: right;
}
  #printheader br {
display: block !important;
}
  /* TEXT*/
  a {
background: none;
font-weight: normal;
text-decoration: underline;
}
  a:after {
content: " (www.sunyocc.edu" attr(href) ")";
font-size: 75%;
text-decoration: none;
color: #000;
}
  h1,h2,h3,h4,h5,h6 {
display: block;
clear: both;
margin: 0 !important;
padding: .5em 0 .5em 0;
width: 100%;
}
  p, ul, ol, dl {
line-height: 1.5;
margin-bottom: .5em;
}
  hr {
background: #ccc;
color: #ccc;
width: 100%;
height: 2px;
margin: 1em 0;
padding: 0;
border: none;
}
  hr.space {
background: none;
color: #fff;
visibility: hidden;
}
  code {
font: .9em "Courier New", Monaco, Courier, monospace;
}
  a img {
border: none;
}
  blockquote {
margin: 1.5em;
padding: 1em;
font-style: italic;
font-size: .9em;
}
  .small {
font-size: .9em;
}
  .large {
font-size: 1.1em;
}
  .quiet {
color: #999;
}
  .hide {
display: none !important;
}
  .noprint {
display: none !important;
}
  .border-white td, .border-white th {
border-color: #666;
}
  td, th {
color: #000 !important;
}
  .alpha100 {
opacity: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
  .alpha90 {
opacity: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
  .alpha70 {
opacity: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
  .alpha50 {
opacity: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
  .alpha30 {
opacity: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
  .alpha10 {
opacity: 1;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

}
