@import url(http://myhome.sunyocc.edu/~rankinp/styleguide/occsyntax.css);
body {background-color:#98abc1;}
.styleguide {}

.styleguide h1, .styleguide h2, .styleguide h3, .styleguide h4, .styleguide h5, .styleguide h6 {clear:both; font-weight:normal; color:#FFF; text-shadow:0 1px 2px #000;}
.styleguide h1 {margin:1.25em 0 .5em 170px; letter-spacing:-1px;}
.styleguide h2 {padding:.5em .5em .5em 5px; margin:.5em 0 0 0; font-style:italic;}
.styleguide h3 {border-top:4px double #000; padding-top:1em;}
.styleguide h3 span, .styleguide h4 span, .styleguide h5 span, .styleguide h6 span {display:inline-block; border:0px solid #ccc; padding:5px; font-size:.6em; color:#86b5e3; background:#000; text-shadow:none; border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;}
.styleguide h4 {border-top:1px dashed #FFF; padding-top:.5em;}
.styleguide h5 {padding-top:.5em;}
.styleguide h5 {padding-top:.5em;}

.landingpage ul {background:#000; color:#FFF; padding:0; width:100%; margin-bottom:0;}
.landingpage li {line-height:2em; border-top:1px solid #333; list-style:none;}
.landingpage ul a {color:#FFF; text-shadow:0 1px 2px #000; text-decoration:none; padding-left:1em;}
.landingpage ul ul a {padding-left:10%;}
.landingpage li:hover {background:#333;}
.landingpage h2 {margin:0; padding:.5em 0 0 0;}
.landingpage h3 {margin:10px 0 0 0; background:#000; padding:.5em; font-size:1.5em;}
.landingpage tt {font-size:.8em; line-height:1em;}
.landingpage h3 span {float:right; margin-right:1em; color:#888; font-size:.6em;}
.landingpage h3.special {font-size:1.25em; margin:.5em 0 0 0; background:none;}
.landingpage .cornertab {float:right; margin-top:-16px; margin-right:30%; background:#333; color:#777; text-shadow:none; font-size:.5em; padding:6px 10px 6px 10px; font-weight:normal; border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; -moz-border-radius:0 0 5px 5px;}
.cornertab.documentation {background:green; color:#FFF; text-shadow:none;}
.cornertab.quick {background:red; color:#FFF; text-shadow:none;}

.diagram_wrapper {margin:0; padding:0;}
.diagram, .griddiagram {font-size:.9em;}

.griddiagram {width:306px; margin:0 10px 0 0; background:#fff url(../images/styleguide/diagram_grid_tile.png) repeat-y top left; border:1px solid #000; border-width:1px 1px 0 1px;} 
.diagram {width:296px; padding:5px; margin:0 10px 1em 0; background:#fff; border:1px solid #000; -webkit-box-shadow:0 2px 2px #666; -moz-box-shadow:0 2px 2px #666; box-shadow:0 2px 2px #666;}
.diagram h1, .diagram h2, .diagram h3, .diagram h4, .diagram h5, .diagram h6,  
.griddiagram h1, .griddiagram h2, .griddiagram h3, .griddiagram h4, .griddiagram h5, .griddiagram h6 {clear:both; font-weight:auto; color:#000; text-shadow:none; border:0; background:none; margin:auto; padding:0 0 .25em 0;}
.diagram .col1, 
.diagram .col2, 
.diagram .col3, 
.diagram .col4, 
.diagram .col5, 
.diagram .col6,
.griddiagram .col1, 
.griddiagram .col2, 
.griddiagram .col3, 
.griddiagram .col4, 
.griddiagram .col5, 
.griddiagram .col6 { float:left; margin-right:3px; margin-left:3px; }
.diagram .col1, .griddiagram .col1 {width:45px;}
.diagram .col2, .griddiagram .col2 {width:96px;}
.diagram .col3, .griddiagram .col3 {width:147px;}
.diagram .col4, .griddiagram .col4 {width:198px;}
.diagram .col5, .griddiagram .col5 {width:249px;}
.diagram .col6, .griddiagram .col6 {width:300px;}

.griddiagram p.micro {line-height:10px; font-size:.7em; margin:0; padding:0; color:#000;}
.griddiagram img {background:rgba(255,0,0,.65); }
.griddiagram img.left {margin-left:3px; margin-right:6px;}
.griddiagram img.right {margin-left:3px; margin-right:3px;}

.caption     {background: #000; padding:10px; font-size:.8em; color:#fff; margin:0; -webkit-box-shadow:0 2px 2px #666; -moz-box-shadow:0 2px 1px #666; box-shadow:0 2px 1px #666;}



 

/* 
#globalnav {float:left; background:#455a72; padding:0; width:100%; margin:0 0 1em 0; border:1px solid #000; border-width:1px 0 1px 0;}
#globalnav ul {float:left; list-style:none; padding:0; margin:5px 0 5px 0;}
#globalnav li {float:left; display:block; border:1px solid #000; text-align:center; background:#222c38; border-radius:3px;  margin:0 5px 0 0;}
#globalnav a {color:#FFF; text-decoration:none; display:block; width:140px; padding:5px 0 5px 0;}
#globalnav li.current {background:#849bb5;}
#globalnav li.current a {color:#fff; font-weight:bold; text-shadow: 0 1px 2px #000;}
#globalnav li:hover {background:#FFF;}
#globalnav li:hover a {color:#000;}
*/