@import "compass";
/* COLLSIDE ADS - FOR PRETTY LINK/RECTANGULAR BUTTONS */
.ad {
  display: block;
  margin: 0 0 10px 0;
  font-size: 1.15em;
  font-weight: normal;
  text-decoration: none;
  padding: 20px 10px 10px 10px;
  line-height: 1.5;
}
#aside .ad,aside .ad {
  max-width: 310px !important;
}
.ad.img {
  padding: 0 0 20px 0;
  font-size: 1em;
}
.ad.img span {
  display: block;
  padding: 0 10px 0 10px;
}