
/* BG_BANNERS */
.bg_banners {
list-style: none;
padding: 0;
margin: 0 0 0 0;
clear: both;
display: block;
}
.ie7 .bg_banners {
clear: right;
}
.bg_banners li {
float: left;
position: relative;
display: inline-block;
margin: 0 5px 10px 5px;
background-repeat: no-repeat;
padding: 0;
background-position: center center;
}
.ie7 .bg_banners li,.ie8 .bg_banners li {
display: block;
float: left;
}
.bg_banners img {
display: none;
}
.bg_banners a {
display: block;
z-index: 1;
height: 100%;
width: 100%;
outline: 1px solid #fff;
font-weight: 400;
text-transform: uppercase;
font-size: 1.5em;
font-family: 'open sans',verdana,sans-serif;
line-height: 1;
letter-spacing: -.05em;
}
.bg_banners a:hover {
outline: 1px solid #333;
box-shadow: 0 0 100px 0 rgba(255,255,255,.5);
}
.bg_banners span {
position: absolute;
bottom: 0;
display: block;
text-shadow: 0 2px 3px #000;
padding: 5px;
width: 100%;/* for IE9 */ background:rgba(0,0,0,.5);/* for real browsers */ background:-moz-linear-gradient(bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear,left bottom,left top,color-stop(0%,rgba(0,0,0,0.65)),color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(bottom,rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
/* for IE7,IE8 */ .ie7 .bg_banners span,.ie8 .bg_banners span {
background: transparent url(../images/bg_banners_gradient.gif) repeat bottom left;
width: auto;
}