@import "compass";
/* BG_SLIDESHOW */
/*slides */
.bg_slideshow {
z-index: 0;
width: 100%;
list-style: none;
position: relative;
padding: 0;
margin: 0;
min-height: 500px;
}
.ie7 .bg_slideshow {
top: -50px;
}
.bg_slideshow li {
z-index: 0;
display: none;
position: absolute;
top: 0;
width: 100%;
background-position: center top;
background-repeat: no-repeat;
background-size:100% auto;
padding: 0;
margin: 0;
}
.no-js .bg_slideshow li:first-child {
display: block;
text-align: center;
}
/* REQUIRES MODERNIZR! if no JS just display the first slide forever. Modernizr will remove no-js when js enabled. */
/* controls */
.bg_slideshow_controls {
position: relative;
float: right;
z-index: 6;
margin: 10px 0 0 0;
width: 135px;
list-style: none;
padding: 0;
}
.bg_slideshow_controls li {
display: inline-block;
margin: 0 10px 0 0;
}
.bg_slideshow_controls a {
display: block;
height: 25px;
width: 30px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
background-image: url(../images/bg_slideshow_controls.png);
background-repeat: no-repeat;
background-position: 2px 0;
}
#playpause.play {
background-image: url(../images/bg_slideshow_controls.png);
background-repeat: no-repeat;
background-position: 2px 0;
background-position: -55px 0;
}
#playpause /*pause,or playing-loading.gif */ {
background-image: url(../images/loading.gif);
background-repeat: no-repeat;
background-position: 0 0;
}
#next {
background-position: -170px 0;
}
/* captions */
.bg_slideshow a {
display: block;
font-size: 1.5em;
padding: .5em;
text-shadow: 2px 2px 0px #000000;
text-decoration:none;
}
.bg_slideshow a:hover {
box-shadow: 0 0 100px 0 rgba(255,255,255,.5);
text-decoration:underline;
}
.bg_slideshow strong {
font-weight: 600;
}
.no-js .bg_slideshow a {
margin-top: -200px;
}
/* caption positions */
.bg_slideshow .caption-top {
margin-top: 65px;
}
.bg_slideshow .caption-middle {
margin-top: 150px;
}
.bg_slideshow .caption-bottom {
margin-top: 250px;
}

@media all and (max-width:970px) {
  .bg_slideshow {
  min-height:350px;
}
.bg_slideshow .caption-bottom, .bg_slideshow .caption-middle, .bg_slideshow .caption-top {
  margin-top:75px;
}
}

@media all and (max-width:595px) {
.bg_slideshow {
  margin-top: 0px;
}
.bg_slideshow_controls {
  position: relative;
  float: right;
  z-index: 6;
  top: 10px;
  margin: 0;
  width: 135px;
  list-style: none;
  padding: 0;
}

}