@import "compass";
.follow-me {
position: fixed;
display: block;
padding: 1em;
background: #000;
color: #fff;
}
.follow-me.bottom-right {
bottom: 15%;
right: 0;
}
.follow-me.bottom-left {
bottom: 15%;
left: 0;
}
.follow-me.middle-right {
top: 45%;
right: 0;
}
.follow-me.middle-left {
top: 45%;
left: 0;
}
.follow-me.top-right {
top: 15%;
right: 0;
}
.follow-me.top-left {
top: 15%;
left: 0;
}
.back-to-top {
background: #000 url(../images/back-to-top.png) no-repeat 2px center;
border-radius: 5px 0 0 5px;
padding: .5em .5em .5em 1.5em;
text-transform: lowercase;
letter-spacing: .1em;
}
.back-to-top:hover {
background-color: #666;
}