@import "compass";
/* HORZY slide structure & navigation */
.slider .container {
padding: 0;
}
.slider {
width: 960px;
margin: 0 auto;
background: #FFF;
}
.slides_window {
width: 960px;
overflow: hidden;
position: relative;
}
/*masks the current .slide and hides the adjacent .slide(s),width must match the .slide it covers */
.slides {
width: 100000px;
position: relative;
overflow: hidden;
}
.slide {
float: left;
width: 960px;
}
/* width must match the .slides_window width */
.slidernav {
width: 100%;
padding: 6px 0 6px 0;
height: auto;
position: relative;
text-align: center;/*z-index:5;*/
}
.slidernav ul {
list-style: none;
padding: 0;
margin: 0 auto;
width: 960px;
}
.slidernav li {
padding: 6px 0 6px 0;
display: inline-block;
line-height: auto;
margin-bottom: 0;
}
.ie7 .slidernav li {
display: block;
float: left;
}
/*IE7 doesn't know inline-block,adding float requires .clearfix to .slidernav in the HTML*/
.slidernav a {
display: inline-block;
padding: 2px 10px 2px 10px;
margin: 0;
}
.slidernav a:hover {
text-decoration: none;
}
.slidernav a.current {
outline: 1px solid #1179fe;
}
