@import "compass";
/* polaroid */
.polaroid {
  width: 150px;
  padding: 10px 10px 50px 10px;
  margin: 5px;
  border: 1px solid #BFBFBF;
  background-color: #FFF;
  -webkit-box-shadow: 2px 2px 3px rgba(135,139,144,0.4);
  -moz-box-shadow: 2px 2px 3px rgba(135,139,144,0.4);
  box-shadow: 2px 2px 3px rgba(135,139,144,0.4);
}
.polaroid.left.rotate-10 {
  margin-right: 30px;
  margin-bottom: 10px;
}
.polaroid.left.rotate-25 {
  margin-right: 50px;
  margin-bottom: 20px;
}
.polaroid.left.rotate-45 {
  margin-right: 60px;
  margin-bottom: 20px;
}
.polaroid.left.rotate10 {
  margin-right: 30px;
  margin-bottom: 10px;
}
.polaroid.left.rotate25 {
  margin-right: 50px;
  margin-bottom: 20px;
}
.polaroid.left.rotate45 {
  margin-right: 60px;
  margin-bottom: 20px;
}
.polaroid.right.rotate-10 {
  margin-left: 30px;
  margin-bottom: 10px;
}
.polaroid.right.rotate-25 {
  margin-left: 50px;
  margin-bottom: 20px;
}
.polaroid.right.rotate-45 {
  margin-left: 60px;
  margin-bottom: 20px;
}
.polaroid.right.rotate10 {
  margin-left: 30px;
  margin-bottom: 10px;
}
.polaroid.right.rotate25 {
  margin-left: 50px;
  margin-bottom: 20px;
}
.polaroid.right.rotate45 {
  margin-left: 60px;
  margin-bottom: 20px;
}
/* figure */
.figure {
  border-top: 1px solid #eee;
  text-align: center;
  box-shadow: 0 1px 2px #aaa;
  -webkit-box-shadow: 0 1px 2px #aaa;
  -moz-box-shadow: 0 1px 2px #aaa;
}
.figure .caption {
  display: block;
  clear: both;
  margin-top: -2px;
  padding: .5em 10px .5em 10px;
  background: #fff7e1;
  border-top: 1px solid #aaa;
  font-style: italic;
  text-align: left;
  color: #333;
}
.figure .caption strong {
  font-style: normal;
  font-size: small;
}
.figure .caption strong:after {
  content: " - ";
  font-weight: normal;
}
.play {
background-image: url(../images/play.png);
background-repeat: no-repeat;
background-position: center center;
}

/* ad */
.ad {
  display: block;
  margin: 0 0 10px 0;
  font-size: 1.15em;
  font-weight: normal;
  text-decoration: none;
  padding: 20px 10px 10px 10px;
  line-height: 1.5;
}
#aside .ad,aside .ad {
  max-width: 310px !important;
}
.ad.img {
  padding: 0 0 20px 0;
  font-size: 1em;
}
.ad.img span {
  display: block;
  padding: 0 10px 0 10px;
}
/*HACK!*/
.ie7 .ad.img span {
  display: block;
  padding: 0 10px 10px 10px;
}
.ad strong {
  font-weight: normal;
  font-size: 1.5em;
}
.ad:hover {
  background: #000 !important;
  color: #FFF !important;
  text-decoration: none;
}
@media all and (max-width:595px) {
.polaroid {
  display: none;
}

}
