/* LINKS.CSS */
.anchor {
  position: absolute;
  margin-top: -50px;
  margin-left: -9999em;
  text-decoration: none;
  text-shadow: none;
}
a.noicon {
  background: transparent none !important;
  padding: 0;
  margin: 0;
}
.external_link,a[href^="mailto:"],.file_pdf,.file_doc,.file_txt,.file_event,.file_vcard,.file_xls,.file_rss,.file_aim,.file_image,.file_video,.file_audio,.file_voice,.file_rss,.file_im {
  background-image: url(../images/16px_icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* IE browser bug required this addition */
.external_link {
  background-image: url(../images/16px_icons.png) !important;
  background-repeat: no-repeat !important;
  background-position: 100% -50px !important;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
a[href^="mailto:"] {
  background-position: 100% -450px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_pdf {
  background-position: 100% -950px;
  padding: 2px 18px 2px 0;
  margin: 0 3px 0 0 !important;
}
.file_doc {
  background-position: 100% -400px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_txt {
  background-position: 100% -1450px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_xls {
  background-position: 100% -1600px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_vcard {
  background-position: 100% -1500px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_event {
  background-position: 100% -150px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_rss {
  background-position: right -1250px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_im {
  background-position: 100% -650px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_image {
  background-position: 100% -1000px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_video {
  background-position: 100% -800px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_audio {
  background-position: 100% -850px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.file_voice {
  background-position: 100% -1050px;
  padding: 2px 18px 2px 0 !important;
  margin: 0 3px 0 0 !important;
}
.bug_report{background-image:url(../images/16px_icons.png); background-repeat: no-repeat; background-position:0 -1705px; padding-left:25px; color:#FFF;}
