/* Lists -------------------------------------------------------------- */
li ul,li ol {
  margin: 0;
}
.main li {
  margin-bottom: .5em;
  line-height: 1.3;
}
ul,ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
dl {
  margin: 0 0 1.5em 0;
}
dl dt {
  font-weight: bold;
  font-style: italic;
  margin-top: 1.3em;
}
dd {
  margin-top: .25em;
  line-height: 1.3;
}
/* LISTS */
ul.inline {
  padding: 0;
  margin: 0;
}
.inline li {
  display: inline;
  float: left;
  margin: 1em 5px 1em 5px;
}
.disc {
  list-style-type: disc;
}
.circle {
  list-style-type: circle;
}
.square {
  list-style-type: square;
}
.decimal {
  list-style-type: decimal;
}
.decimalzero {
  list-style-type: decimal-leading-zero;
}
.upper-roman {
  list-style-type: upper-roman;
}
.lower-roman {
  list-style-type: lower-roman;
}
.upper-alpha {
  list-style-type: upper-alpha;
}
.lower-alpha {
  list-style-type: lower-alpha;
}
.style_none {
  list-style-type: none;
  padding: 0;
}
.dividers dt,.dividers li {
  border-top: 1px solid #ccc;
  padding-top: .5em;
}
.dividers p {
  margin-bottom: .25em;
}