@import "compass";
/* TYPOGRAPHY.CSS - The font-size percentage is of 16px. (0.75 * 16px = 12px) */
html {
  font-size: 100.01%;
}
body {
  font-size: 100%;
  color: #222;
  background: #fff;
  font-family: "Open Sans", "Gill Sans",Verdana,Arial,Helvetica,sans-serif;
  font-weight: 200;
}
/* Headings -------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans","Gill Sans",Verdana,Arial,Helvetica,sans-serif;
  font-weight: 200;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
/* 16pt*3.0em = 49 px */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* 16pt*2.0em = 32 px */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
/* 16pt*1.5em = 24 px */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  font-weight: 400;
}
/* 16pt*1.2em = 19.2px */
h5 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1.5em;
}
/* 16pt*1.0em = 16 px */
h6 {
  font-size: .8em;
  font-weight: bold;
}
/* 16pt*0.8em = 12.8px */
h1 img,h2 img,h3 img,
h4 img,h5 img,h6 img {
  margin: 0;
}
/* Text elements -------------------------------------------------------------- */
p {
  margin: 0 0 1.5em 0;
  line-height: 1.5;
}
a:focus,a:hover {
  text-decoration: underline;
}
a {
  color: #2A5DB0;
  text-decoration: underline;
}
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic;
}
strong, b {
  font-weight: bold;
}
em,dfn {
  font-style: italic;
}
dfn {
  font-weight: bold;
}
sup,sub {
  line-height: 0;
  font-size: x-small;
}
sup {
  vertical-align: top;
}
sub {
  vertical-align: bottom;
}
abbr,acronym {
  border-bottom: 1px dotted #666;
  cursor: help
}
address {
  font-style: italic;
  display: inline;
}
del {
  color: #666;
}
/*pre {
margin: 0;
white-space: pre;
}
pre,code {
background: #000;
color: #86b5e3;
padding: 1em;
border: 1px solid #ccc;
display: block;
font-size: .8em;
}
pre,code,tt {
font-family: 'andale mono','lucida console',Courier,monospace;
}
*/
/* Misc classes -------------------------------------------------------------- */
small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875;
}
big {
  font-size: 1.2em;
  line-height: 2.5;
  margin-bottom: 1.25em;
}
hr {
  float: left;
  display: block;
  clear: both;
  border-top: 1px solid #000;
  margin: .5em 0 .5em 0;
  width: 100%;
  padding: 0;
}
/* pullquote */
.pulledquote {
  display: block;
  float: left;
  width: 150px;
  padding: .5em;
  margin: 10px 10px 5px 0;
  line-height: 1.6;
  font-size: 1.5em;
  font-style: italic;
}
/* quote */
.quote {
  display: block;
  min-height: 328px;
  padding: .5em .5em 1.25em .5em;
  margin: -2px 0 5px 0;
  line-height: 1.3;
  font-size: 1.15em;
  font-style: italic;
}
.quote img {
  margin-left: -.5em;
  margin-top: -.5em;
  margin-bottom: .5em;
  float: left;
  clear: right;
}
.quote cite {
  font-size: .65em;
  display: block;
  clear: left;
  line-height: 1.25;
  padding: 1em 0 1em 0;
}
/* dropcap,smallcaps first line */
.dropcap:first-child:first-letter {
  float: left;
  line-height: 30px;
  padding: 5px 5px 5px 0;
  margin: .07em 0 -.2em -.1em;
  color: #333;
  font-weight: bold;
  font-size: 2.8em;
  font-family: garamond,"minion pro",times,"times new roman",serif;
}
.smallcapline:first-child:first-line {
  font-variant: small-caps;
}
/* casing */
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.small-caps {
  font-variant: small-caps;
}
/* footnotes */
.footnotes {
  border-top: 1px solid #aaa;
  padding-top: 1em;
}
.footnotes h4 {
  font-size: 1.25em;
}
.footnotes ol {
  list-style: decimal;
  padding-left: 1.5em;
}
.footnotes li {
  line-height: 1.3;
  margin-bottom: .5em;
}
/* TYPEFACES */
.font-italic,.italic {
  font-style: italic;
}
.font-sans-serif,.sans-serif {
  font-family: "Century Gothic","Myriad Pro",myriad,"Gill Sans",verdana,sans-serif;
}
.font-serif,.serif {
  font-family: "Minion Pro","Times New Roman",times,serif;
}
.font-script {
  font-family: "Dancing Script","Brush Script",serif;
}
.font-brushscript {
  font-family: "Devonshire",serif;
}
.font-brushscript2 {
  font-family: "Sarina",serif;
}
.font-handwriting {
  font-family: "Nothing You Could Do",sans-serif;
}
.font-typewriter {
  font-family: "PT Mono","Courier New",Courier,Times,serif;
  letter-spacing: -1px;
}
.font-grunge {
  font-family: "Rock Salt",sans-serif;
}
.font-impact {
  font-family: impact,"Open Sans";
  letter-spacing: 1px;
  font-weight: 800;
}
.font-condensed {
  font-family: "Open Sans Condensed","Open Sans",sans-serif;
}
.font-marker {
  font-family: "Permanent Marker",impact,sans-serif;
}

.textleft {
  text-align: left;
}
.textright {
  text-align: right;
}
.textcenter {
  text-align: center;
}
